.card{
    /* width: 100%; */
    border: 1px solid;
  border-radius: 3px;
}
.card:hover .card_top svg{
opacity: 1;
}
.card_top svg{
    opacity: 0;
}
.card_title {
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.875rem;
  }
  .card_top_labels label {
    border-radius: 40px;
    padding: 4px 12px;
    background-color: gray;
    color: #fff;
    width: fit-content;
  }

  .card_top_labels{
    display: flex;
  }

  .card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card_footer svg {
   height: 15px;
   width: 12px;
  }

  .cards_inside{
    width: 100%;
display: flex;
justify-content: space-between;

  }
  .card_top_more{
    position: relative;
  }